body {
  font-size: 15pt;
  background: black;
}

.heros {
  background: transparent;
  color: white;
  margin: 20%;
  box-shadow: 1px 1px 2px 2px #282932;
  border: 1px solid #282932;
  border-radius: 5px;
  padding: 1.5%;
  transition: ease-in-out;
}

.heros h1 {
  display: inline-block;
  overflow: hidden; 
  white-space: nowrap; 
  width: 0;
  animation: type 3s steps(10) forwards;
}

.heros h1::before {
  content: ""; 
  border-right: 3px solid red;
}

@keyframes type {
  to {
    width: 100%;
  }
}
.heros:hover {
  box-shadow: 2px 2px 3px 3px #282932;
  transition: ease-in-out;
}
